// Mixins Here

.buttons(@bg-color, @txt-color, @font-sz, @width) {
	background-color: @bg-color;
	border: none;
	color: @txt-color;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	font-size: @font-sz;
	margin: 4px 2px;
	border-radius: 5px;
	width: @width;
	cursor: pointer;

	&:hover {
		background-color: white;
		color: #22283a;
		border: 1px solid #22283a;
	}
}

.border-radius (@radius: 5px) {
	border-radius: @radius;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

//Animation

.swipe(@duration, @timeFunct, @delay, @count) {
	animation: swipe @duration @timeFunct @delay @count normal none;
}

@keyframes swipe {
	0% {left: -500px;top: 0px;}
	100% {left: 0px;top: 0px;}
}