// Navigation code here

.nav-menu {
	background-color:rgba(245, 245, 245, 0.85);
	text-align: center;

	//fixed Nav Bar
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;	

	h1 {
		padding: 12px 0;
	}

	ul {
		display: flex;
		justify-content: center;
		padding-bottom:12px;

		@media @smallPhone {
			flex-direction: column;
		}
	}

	li {
		margin: 0 20px;
		font-size: 1.6em;

		@media @smallPhone {
			padding: 10px;
		}
	}

	a {
		text-decoration: none;
		color: #454a59
	}
}